<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    body {
      font-size: 21vw;
      font-family: sans-serif;
    
    }
    a{
      text-decoration: none;
    }
  

  
</style>

  <%- include("../partials/head"); %>

</head>

<body>
  <div id="nav-ediv">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
          <a class=" navbar-brand d-md-none" href="/"><img src="/images/16-sanskar.png" 
              style="width: 120px; height: 50px;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
          <ul class="navbar-nav">

            <li class="nav-item dropdown ">
              <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Sanskar's-List
              </a>
              <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">1. Garbhadhaan</a></li>
                <li><a class="dropdown-item" href="#">2. Punsavan
                  </a></li>
                <li><a class="dropdown-item" href="#">3. Simantonayan</a></li>
                <li><a class="dropdown-item" href="#">4. Jatkarma</a></li>

                <li><a class="dropdown-item" href="#">5. Naamkaran</a></li>

                <li><a class="dropdown-item" href="#">6. Nishkramana</a></li>

                <li><a class="dropdown-item" href="#">7. Annprashan</a></li>

                <li><a class="dropdown-item" href="#">8. Chaul</a></li>

                <li><a class="dropdown-item" href="#">9. Vidyarambh</a></li>

                <li><a class="dropdown-item" href="#">10. Karnavedh</a></li>

                <li><a class="dropdown-item" href="#">11. Upnayan</a></li>

                <li><a class="dropdown-item" href="#">12. Vedarambha</a></li>

                <li><a class="dropdown-item" href="#">13. Keshani Samskar</a></li>

                <li><a class="dropdown-item" href="#">14. Samavartan</a></li>

                <li><a class="dropdown-item" href="#">15. Vivah</a></li>

                <li><a class="dropdown-item" href="#">16. Antyesthi</a></li>

              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white" href="/blogs">Blog <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            </li>

          </ul>
          <a class="navbar-brand d-none d-md-block" href="/"><img src="/images/16-sanskar.png" 
            style="width: 120px; height: 50px;"></a>
        </div>
        <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Sign In <i class="fa fa-sign-in" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Sign Up <i class="fa fa-user" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  
  <div>
    <marquee behavior="" direction="left" scrollamount="15" class="fs-4 fw-light text-dark">16 Sanskar:- Each Sanskar
      serves a unique purpose and holds significant meaning,"16-Sanskar" aims to bridge the gap between tradition and
      modernity </marquee>
  </div>

<div class="container mt-5">
    <h2 align="center">Your Shopping Cart</h2>
    <div class="row row-cols-1 row-cols-md-2">

      <!-- Product 1 -->
      <% data.forEach((item,index)=>{%>
        <% if(item.order=="No") {%>
        
        <div class="col-md-3 col-12">
            <div class="card">
                <img src="/uploads/<%=item.product_image%>" class="card-img-top" style="height: 48vh;" alt="Product 1">
                <div class="card-body">
                    <h4 class="card-title">Name: <%=item.product_name%></h4>
                    <h5 class="card-text">Price: <%=item.product_price%></h5>
                    <h5 class="card-text">Brand: <%=item.product_brand%></h5>
                    <div class="input-group mb-3">
                      <span>Quantity</span>
                      <button type="button" class="minus"id="minus<%= index%>" style="border: none; padding: 5px; margin:  0 5px;  background-color: transparent;" ><i class="fa fa-minus" aria-hidden="true"></i></i></button>
                      <span id="qun<%= index %>" style="text-align: center; margin: 0 5px; margin-top: 3px;"><%=item.total_product%></span>
                      <button type="button"  class="plus" id="plus<%= index%>" style="border: none; padding: 5px; margin: 0 5px;  background-color: transparent;"><i class="fa fa-plus" aria-hidden="true"></i></button>
                      <span style="display: none; color: red;" id="msg<%= index %>">Product can be Zero</span>
                      

                       <input type="text" value="<%=item.customer_id%><%= index %>" id="customer"  hidden >
                       <input type="text" value="<%=item._id%>" id="product<%= index %>"  hidden >     
                    </div>
                    <a class="btn" style="background-color: #f47c00;" href="/userProduct/removeUserProduct/<%= item._id %>">Remove</a>
                </div>
            </div>
        </div> 
        <%}%>
        <% }) %> 
    </div>
</div>
<div class=" d-flex justify-content-center mb-5">
<button class="btn btn-danger text-white text-decoration-none  text-center px-5 placeorder" data-bs-toggle="modal" data-bs-target="#exampleModal" ><a href="#" >Place Order</a></button>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" >
      <div class="modal-header" style="background-color: #f47c00;">
        <h3 style="color: whitesmoke; font-weight: bold;" class="modal-title" id="exampleModalLabel">Place Order</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>    
    </div>
    <div class="modal-content">
      <div class="modal-header">
      <h3>your cart items</h3>
      </div>  
      <div class="modal-body" >
        <% data.forEach((item, index) => { %>
          <% if (item.order == "No") { %>
            <div class="card mb-3"  style="background-color: #fef8f5; border: none;">
              <div class="row g-0" style="height:80px">
                <div class="col-md-3">
                  <img src="/uploads/<%=item.product_image%>" style="height:50px; width:50px; margin-top:10px; margin-left:10px;" class="img-fluid rounded-start" alt="Product Image">
                </div>
                <div class="col-md-3">
                  <div class="card-body">
                    <h5 class="card-title" id="productname<%=index%>"></h5>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="card-body">
                    <span>Price  </span>
                    <p class="card-text" id="productprice<%=index%>"> </p>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="card-body">
                    <span>Quantity  <%=index%></span>
                    <p class="card-text" id="totalproduct<%=index%>"></p>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="card-body">
                    <span>Total Price </span>
                    <p class="card-text" id="totalprice<%=index%>"></p>
                  </div>
                </div>
              </div>
            </div>
          <% } %>
        <% }) %>
        <hr>
        <span style="margin-left: 550px; font-size: 25px;">Total Bill : </span>
        <input type="text" id="totalbill" value="">
        <hr>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" style="background-color: black; border: none;" data-bs-dismiss="modal">Close</button>
        <button type="button" data-bs-toggle="modal" style="background-color: #f47c00; border: none;" data-bs-target="#confirmModal" class="btn btn-primary payment">Confirm Order</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #f47c00;">
        <h5 class="modal-title" id="exampleModalLabel">Confirm Order</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-header">
       <h3 style="font-family: cursive; color: #f47c00; margin-left: 300px;" >Order ID  <div id="orderId" style="margin-left: -100px; color: black;"></div></h3>
       
      </div>
      <div class="modal-header">
        <h5 style="color: #f47c00;;">Order date : <span style="color: black;" id="orderdate"></span> </h5>
        <h5 style="color: green;">Estimated delivery :<span style="color: black;" id="randomDateDisplay"></span></h5>
      </div>                   
    </div>
    <div class="modal-content">
      <div class="modal-body">
        <h3 style="font-family: cursive; color: #f47c00; margin-left: 300px;" > Total Bill <div id="totalbill2" style="margin-left: 30px; color: black;"></div></h3>


      </div>                    
      <div class="modal-footer">
        <% data.forEach((item,index)=>{ %>
          <% if (item.order == "No") { %>
        <input type="hidden" id="customerId" value="<%= item.customer_id%>" >
        <% } %>
        <% }) %>
        <button type="button" class="btn btn-secondary"><a href="/userProduct/generate_bill/<%= data[0].customer_id%>/<%=data[0]._id%>">Pay</a></button>
        <button type="button" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#confirmModal"  class="btn btn-primary">Cancel</button>    
  
      </div>
    </div>
  </div>
</div>

<script>

function randomDate(start, end) {
    return new Date(start.getTime() + Math.random() * (end.getTime() - start.getTime()));
}

// Get the current date
var currentDate = new Date();

// Set the end date to be a certain number of days from the current date
var daysToAdd = 30; // You can adjust this as needed
var endDate = new Date(currentDate.getTime() + daysToAdd * 24 * 60 * 60 * 1000);

// Generate a random date between the current date and the end date
var randomGeneratedDate = randomDate(currentDate, endDate);
console.log(randomGeneratedDate);


    var randomDateDisplay = document.getElementById('randomDateDisplay');
      var data1 = new Date(randomGeneratedDate); // Assuming data.placeorder.order_Date is a valid date string or Date object
      var options = { year: 'numeric', month: 'long', day: 'numeric' };
      var formattedDate = data1.toLocaleDateString('en-IN', options);
      console.log(formattedDate);
    randomDateDisplay.innerHTML = formattedDate;


document.querySelectorAll('.placeorder').forEach((button,index)=>{
     button.addEventListener('click',async function(){
      var customer = document.getElementById('customerId').value;

      console.log(customer);
      // console.log(cartId)
      try {
            var come = await fetch(`/userProduct/placeorder/${customer}`,{ method: 'get' })
                .then(res => res.json()) 
                .then(data => {
                  console.log(data);
                  for(var i=0;i<data.placeorder.length;i++){
                    console.log('value of i start '+i);

                    var product_name = document.getElementById('productname'+i);
                    product_name.innerHTML = data.placeorder[i].product_name ;
                    var product_price = document.getElementById('productprice'+i);
                    product_price.innerHTML = data.placeorder[i].per_product_price ;
                    var total_product = document.getElementById('totalproduct'+i);
                    total_product.innerHTML = data.placeorder[i].total_product ;
                    // console.log(data.placeorder[i]);
                    var total_price = document.getElementById('totalprice'+i);
                   
                     total_price.innerHTML = data.placeorder[i].product_price;
                     console.log(total_price);
                     console.log('value of i '+i);
                  }
                  var total_bill = document.getElementById('totalbill');
                  total_bill.value = data.totalbill;
                  console.log(data.totalbill)
                })
        } catch (error) {
            console.log(error);
        }

    });
});

document.querySelectorAll('.payment').forEach((button,index)=>{
    button.addEventListener('click',async function(){
    var customer = document.getElementById('customerId').value;
    console.log("payment wala");
      console.log(customer);
      try {
        var come = await fetch(`/userProduct/confirm-order/${customer}`, { method: 'get' })

                .then(res => res.json()) 
                .then(data => {
                  var orderId = document.getElementById('orderId');
                   orderId.textContent  = data.placeorder._id;

                  var orderdate = document.getElementById('orderdate');
                  var data1 = new Date(data.placeorder.order_Date); // Assuming data.placeorder.order_Date is a valid date string or Date object
                  var options = { year: 'numeric', month: 'long', day: 'numeric' };
                  var formattedDate = data1.toLocaleDateString('en-IN', options);
                  console.log(formattedDate);
                  orderdate.innerHTML = formattedDate;

                  
                   var totalbill2 = document.getElementById('totalbill2');
                   totalbill2.innerHTML = data.placeorder.total_price;

                })
        } catch (error) {
            console.log(error);
        }

    });
});

  document.querySelectorAll('.minus').forEach((button, index) => {
            button.addEventListener('click', async function () {
              var quantity= document.getElementById('qun'+index);
              // const reviewInput = document.getElementById('reviewInput' + index);
              var msg=document.getElementById('msg'+index);

              var cust =document.getElementById('product'+index);
              const product=cust.value;

              if(parseInt(quantity.innerHTML)>=1)
              {
              
                quantity.innerHTML= parseInt(quantity.innerHTML)-1;
                try{

                var data=await fetch(`/userProduct/minus/${product}/${parseInt(quantity.innerHTML)}`, { method: 'get' })
                   }
                  catch(error)
                  {
                    console.log(error)
                  }

              }
               else{
                      if(quantity.innerHTML<1)
                       {
                      msg.style.display='block';
                       }
                     else{
                        msg.style.display='none';
                          }
                    }  
                   
            });
        });
        document.querySelectorAll('.plus').forEach((button, index) => {
            button.addEventListener('click',async function () {
              var quantity= document.getElementById('qun'+index);
              var msg=document.getElementById('msg'+index); 
              var cust =document.getElementById('product'+index);
              const product=cust.value;
             
              quantity.innerHTML=parseInt(quantity.innerHTML)+1;
              msg.style.display='none';
              try
        {

        var data =await fetch(`/userProduct/plus/${product}/${parseInt(quantity.innerHTML)}`, { mehod: 'get' })
      }
      catch(error)
      {
   console.log(error)
      }
              

            });
        });
</script>

</body>
</html>