<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
  
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <title>Document</title>
  <script>
    $(document).ready(function () {
      $("#myTable").DataTable();
    });
  </script>
</head>
<style>
  /* -----------------a--- */
  * {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --orange: #f47c00;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
  }

  body {
    min-height: 100vh;
    overflow-x: hidden;
  }

  .container-fluids {
    position: relative;
    width: 100%;
  }

  .navigations {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--orange);
    border-left: 10px solid var(--orange);
    transition: 0.5s;
    overflow: hidden;
  }

  .navigations.actives {
    width: 80px;
  }

  .navigations ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .navigations ul li {
    position: relative;
    width: 100%;
    list-style: none;
    /* border-top-left-radius: 30px; */
    /* border-bottom-left-radius: 30px; */
    border-radius: 25px;
  }

  .navigations ul li:hover,
  .navigations ul li.hovered {
    background-color: var(--white);
  }

  .navigations ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
  }

  .navigations ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
  }

  .navigations ul li:hover a,
  .navigations ul li.hovered a {
    color: var(--orange);
  }

  .navigations ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
  }

  .navigations ul li a .icon ion-icon {
    font-size: 1.75rem;
  }

  .navigations ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
  }


  .navigations ul li:hover a::after,
  .navigations ul li.hovered a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    /* box-shadow: 35px -35px 0 10px var(--white); */
    pointer-events: none;
  }

  .mains {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
  }

  .mains.actives {
    width: calc(100% - 80px);
    left: 80px;
  }

  .topbars {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }

  .toggles {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
  }

  .search {
    position: relative;
    width: 400px;
    margin: 0 10px;
  }

  .search label {
    position: relative;
    width: 100%;
  }

  .search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
  }

  .search label ion-icon {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2rem;
  }


  @media (max-width: 991px) {
    .navigations {
      left: -300px;
    }

    .navigations.actives {
      width: 300px;
      left: 0;
    }

    .mains {
      width: 100%;
      left: 0;
    }

    .mains.actives {
      left: 300px;
    }

  }

  #mychart {
    width: 500px;
    height: 300px;
  }



  @media (max-width: 480px) {

    .users {
      min-width: 40px;
    }

    .navigations {
      width: 100%;
      left: -100%;
      z-index: 1000;
    }

    .navigations.actives {
      width: 100%;
      left: 0;
    }

    .toggles {
      z-index: 10001;
    }

    .mains.actives .toggles {
      color: #fff;
      position: fixed;
      right: 0;
      left: initial;
    }
  }

  /* ----------------- */
  #datatable {
    width: 100%;
    height: auto;
  }

  #myTable thead tr {
    background-color: #f47c00;
    color: #fff;
  }

  #myTable tbody tr:nth-child(even) {
    background-color: #F6A36A;
    /* Alternate background color for even rows */
    color: #FFF;
    /* Text color for even rows */
  }

  #myTable tbody tr:nth-child(odd) {
    background-color: #FFF;
    /* Background color for odd rows */
    color: #f47c00;
    /* Text color for odd rows */
  }

  button:nth-child(even) {
    background-color: Red;
    color: #f47c00;
    border: none;
    padding: 5px 10px;
  }

  button:nth-child(odd) {
    background-color: #f47c00;
    color: #FFF;
    border: none;
    padding: 5px 10px;
  }

  img {
    height: 50px;
    width: 50px;
    margin: 10px;

  }
</style>

<body>
  <!-- navigation -->
  <div class="container-fluids">
    <%- include('../partials/adminav.ejs')%>

   
    <div class="mains">

    <div class="topbars">
      <div class="toggles">
        <ion-icon name="menu-outline"></ion-icon>
      </div>
      </div>

      <center>
        <h1 style="color: #f47c00;">Vendor Details</h1>
  
      </center>
    <div id="datatable">
      
    <table id="myTable" class="display nowrap" style="width:100%" >
      <thead>
        <tr class="row">
          <th class="col-1">Id</th>
          <th class="col-1">Name</th>
          <th class="col-1">Email</th>
          <th class="col-1">Contact No.</th>
          <th class="col-1">Street</th>
          <th class="col-1">City</th>
          <th class="col-1">Pin Code</th>
          <th class="col-1">State</th>
          <th class="col-1">GST No.</th>
          <th class="col-1">Aadhar No.</th>
          <th class="col-1">Category</th>
        </tr>
      </thead>
      <tbody>
        <% var i=1 %>
        <% data.forEach((item)=>{%>
         <% if(item.role=="vendor") {%>

          <tr class="table raw">
            <td class="col-1"><%= i++ %></td>
            <td class="col-1"><%= item.name %></td>
            <td class="col-1"><%= item.email %></td>
            <td class="col-1"><%= item.contact %></td>
            <td class="col-1"><%= item.street %></td>
            <td class="col-1"><%= item.city %></td>
            <td class="col-1"><%= item.pin_code %></td>
            <td class="col-1"><%= item.state %></td>
            <td class="col-1"><%= item.gst_number %></td>
            <td class="col-1"><%= item.aadhar_number %></td>
            <td class="col-1"><%= item.category %></td>            
          </tr>
        <% } %>
        <% }) %>
       
      </tbody>
    </table>
    </div>
    </div>
    </div>
    <script>
      // add hovered class to selected list item
      let list = document.querySelectorAll(".navigations li");

      function activeLink() {
        list.forEach((item) => {
          item.classList.remove("hovered");
        });
        this.classList.add("hovered");
      }

      list.forEach((item) => item.addEventListener("mouseover", activeLink));

      // Menu toggles
      let toggles = document.querySelector(".toggles");
      let navigations = document.querySelector(".navigations");
      let mains = document.querySelector(".mains");

      toggles.onclick = function () {
        navigations.classList.toggle("actives");
        mains.classList.toggle("actives");
      };

    </script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>